@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  color: #fff;
}

.content {
  padding: 0 3%;
}
.center {
  max-width: 1147px;
  margin: 0 auto;
}

.button {
  background-color: #3a68b8;
  border-radius: 5px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 15px 30px;
  border: transparent;
}

.title__medium {
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;
}

.text__ordinar {
  font-size: 18px;
  font-weight: 600;
  line-height: 160%; /* 28.8px */
  opacity: 0.7;
  max-width: 558px;
}

.header {
  background-color: rgb(9, 14, 23);
}

.header__menu {
  max-width: 380px;
  margin: 0 auto;
}

.menu__list {
  display: flex;
  list-style: none;
  gap: 32px;
  align-items: center;
}

.menu__item {
  padding-top: 39px;
  padding-bottom: 39px;
}

.menu__link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

.intro {
  background-color: rgb(9, 14, 23);
}

.intro__inner {
  display: flex;
  padding-top: 160px;
  flex-wrap: wrap;
  gap: 128px;
  margin-bottom: 197px;
  justify-content: center;
}

.intro__title-small {
  color: #3a68b8;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%; /* 28.8px */
  text-transform: uppercase;
  margin-bottom: 10px;
}

.intro__title {
  font-size: 55px;
  font-weight: 800;
  line-height: 130%;
  max-width: 604px;
  margin-bottom: 40px;
}

.intro__text {
  margin-bottom: 50px;
}

.intro__buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.button__play {
  display: flex;
  align-items: center;
  gap: 10px;
}

.intro__pic {
  width: 414px;
  height: 415px;
}

.intro__pic img {
  width: 100%;
}

.intro__logos {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 99px;
}

.about {
  background-color: #020a18;
  padding: 157px 0 264px;
}

.about__pic {
  max-width: 594px;
  max-height: 548px;
}

.about__pic img {
  width: 100%;
}

.about__info {
  max-width: 484px;
}

.about__inner {
  display: flex;
  gap: 68px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.about__title {
  max-width: 484px;
  margin-bottom: 30px;
}

.about__text {
  margin-bottom: 50px;
}

.about__button {
  font-size: 16px;
  width: 150px;
}

.features {
  background-color: #020a18;
  padding-bottom: 243px;
}

.features__upper-block {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.features__item {
  width: 362px;
  height: 389px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #132035;
}

.feature__title {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  line-height: 125%; /* 31.25px */
  opacity: 0.7;
  max-width: 290px;
  margin: 0 auto;
}

.feature__text {
  font-size: 16px;
  text-align: center;
  max-width: 302px;
}

.features__down-block {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.features__item-big {
  width: 754px;
  height: 788px;
  gap: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #132035;
  padding-top: 20px;
}

.features__item-big .feature__title {
  max-width: 694px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  line-height: 125%; /* 31.25px */
  opacity: 0.7;
}

.features__item-big .feature__text {
  max-width: 694px;
}

.down-block__small-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.features__inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.reviews {
  background-color: #020a18;
  padding-bottom: 221px;
}

.reviews__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.reviews__info {
  padding: 14px 0;
}

.reviews__title {
  margin-bottom: 40px;
  max-width: 567px;
}
.reviews__text {
  text-align: left;
  font-size: 16px;
}

.reviews__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review {
  max-width: 503px;
}

.footer {
  background-color: rgb(9, 14, 23);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 48px 3% 51px;
}

.footer__inner {
  display: flex;
  color: #fff;
  font-size: 14px;
  line-height: normal;
  gap: 130px;
}

.footer__title {
  font-size: 16px;
  line-height: normal;
  margin-bottom: 33px;
}

.footer__information-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.information__link {
  text-decoration: none;
  font-size: 14px;
  line-height: normal;
  color: #fff;
}

.footer__information-item img {
  margin-right: 9px;
}

.footer__about-text {
  font-family: "Roboto";
  font-size: 14px;
  font-style: italic;
  font-weight: 100;
  line-height: normal;
  opacity: 0.6;
  max-width: 261px;
}

.footer__about-site {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer__about-link-wrapper {
  margin-bottom: 24px;
}

.footer__social-links {
  display: flex;
  gap: 24px;
}

.footer__social-links img {
  opacity: 0.6;
}

@media (max-width: 850px) {
  .intro__title {
    font-size: 48px;
  }

  .intro__title-small {
    font-size: 16px;
  }

  .intro__logos {
    max-width: 575px;
    padding-bottom: 120px;
  }

  .features__upper-block {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .features__down-block {
    display: none;
  }

  .reviews__inner {
    gap: 64px;
  }

  .footer__inner {
    flex-wrap: wrap;
    gap: 35px;
  }

  .footer__about-links {
    order: 1;
  }

  .footer__about {
    margin-left: 100px;
  }
}
